# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Also pushing this code to gitlab.com
# This application will be hosting soon on a separate domains hostinger
# Some testing again i am doing

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*